.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8vw;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    max-width: 150px;
    height: auto;
}

.search_bar {
    background-color: #F5F5F5;
    border-radius:30px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 2vw;
    margin-right: 20vw;
    max-width: 600px;
    min-width: 200px;
  }
  
.search_bar_input {
    border:none;
    outline: none;
    background-color:transparent;
    color:#A2A2A2;
    font-size: 16px;
    width:100%;
  }

.search_bar_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.botao__cabecalho {
    background-color: transparent;
    color: #2A7AE4;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 182px;
    height:51px;
}

.botao__cabecalho:hover {
    background-color: #2A7AE4;
    color: #fff;
}

/* Mobile */
@media (max-width: 480px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 4vw;
    }

    .search_bar {
        display: none; /* Oculta a barra de pesquisa em smartphones */
    }

    .logo {
        max-height: 40px;
    }

    .botao__cabecalho {
        font-size: 14px;
        padding: 10px;
        width: auto; /* O botão só ocupa o espaço necessário */
    }
}
